# Python cache
__pycache__/
*.pyc

# Database
data/users.db

# Environment files
.env

# PyCharm
.idea/

# Virtual Environment
venv/
.venv/

test.py
test_*.py

.vscode/

history_backup.json

backend/solution_generator_backup.py